@font-face {
    font-family: "DM Sans";
    font-weight: 100 800;
    font-style: normal;
    src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: "DM Sans";
    font-weight: 100 800;
    font-style: italic;
    src: url("/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}
